$color-bg:					#ffffff;
$color-fg:					#6e6e6e;
$color-fg-light:			#888888;
$color-fg-bold:				#5b5b5b;

$color-accent-bg:			#4eb980;
$color-accent-fg:			rgba(255,255,255,0.8);
$color-accent-fg-light:		rgba(255,255,255,0.5);
$color-accent-fg-bold:		#ffffff;

$color-accent2-bg:			#544d55;
$color-accent2-fg:			rgba(255,255,255,0.8);
$color-accent2-fg-light:	rgba(255,255,255,0.35);
$color-accent2-fg-bold:		#ffffff;

$color-border-ie:			#cccccc;
$color-border:				rgba(224,224,224,0.75);
$color-border-bg:			rgba(224,224,224,0.15);
$color-border-bg2:			rgba(224,224,224,0.35);

$size-radius:				4px;